.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 45px 98px 45px 150px;
}
.tab {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  gap: 30px;
}
.tab p {
  margin-right: 30px;
}
.buttonCollapse {
  visibility: hidden;
}
.none {
  display: none;
}
.searchBox {
  padding: 14px 22px;
  border: 0.8px solid #afb0b9;
  box-sizing: border-box;
  border-radius: 6px;
}
.searchBox:focus {
  outline: none;
}
.photoBox {
  /* position: relative; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-left: 20px; */
  object-fit: cover;
}
/* .buttonContainer div {
  margin-left: 20px;
} */
.line {
  display: none;
}
.userButton {
  background: none;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}
.userDrop {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  /* min-width: 160px; */
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  padding: 10px 10px;
}
.userContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.userList {
  border-bottom: 1px solid grey;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logout {
  background: none;
  border: none;
  outline: none;
}
@media (max-width: 576px) {
  .container {
    flex-direction: column;
    padding: 30px 30px 0px 30px;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .line {
    display: block;
    width: 100%;
  }
  .tab {
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .buttonCollapse {
    visibility: visible;
    width: 40px;
    height: 40px;
    background-color: white;
    outline: none;
    border: 1px solid #c4c4c4;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: flex;
  }
}
