.wrapper{
  font-family: 'Metropolis';
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper h2{
  text-align: center;
}
.wrapper h1{
  text-align: center;
  margin-top: 40px;
}