@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-nunito {
  font-family: 'Nunito', sans-serif;
}
.text-playfair {
  font-family: 'Playfair Display', serif;
}
.text-mulish {
  font-family: 'Mulish', sans-serif;
}
.text-w700 {
  font-weight: 700;
}
.text-w600 {
  font-weight: 600;
}
.text-w400 {
  font-weight: 400;
}
.text-bold {
  font-weight: bold;
}
.text-17 {
  font-size: 17px;
}
.text-18 {
  font-size: 18px;
}
.text-22 {
  font-size: 22px;
}
.text-24 {
  font-size: 24px;
}
.text-36 {
  font-size: 36px;
}
.text-grey {
  color: rgba(132, 132, 132, 1);
}
.text-black {
  color: rgba(57, 57, 57, 1);
}
.text-orange {
  color: rgba(251, 143, 29, 1);
}
