.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.lastPage {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.cap:first-letter {
  text-transform: capitalize;
}
.pagination {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  justify-content: space-evenly;
  margin-top: 30px;
  align-items: center;
}
.sort {
  border: 1px solid gray;
  padding: 5px 5px;
}
.next {
  border: 1px solid gray;
  padding: 5px 5px;
}
.prev {
  border: 1px solid gray;
  padding: 5px 5px;
}
.searchBox {
  padding: 20px 45px;
  border: 0.8px solid #afb0b9;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  outline: none;
}
@media (max-width: 576px) {
  .cardTitle {
    flex-wrap: wrap;
  }
}
